<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" *ngIf="isHandset$ | async" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>drag_handle</mat-icon>
    </button>
    <!-- <span>My App</span> -->
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" 
    >
        <!-- <button mat-icon-button>
            <mat-icon>dashboard</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>inbox</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>home_work</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>house</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>handyman</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>work_history</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>edit_calendar</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>photo_library</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>checklist_rtl</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>sms</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>manage_accounts</mat-icon>
        </button> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container demo-container">
            <div class="row py-3">
                <div class="col heading">
                    <mat-icon>arrow_back_ios_new</mat-icon>
                    <h1>Email@fyxt.com - Settings</h1>
                </div>
            </div>
            <div class="row demo-row-two bg-white">
                <mat-tab-group fitInkBarToContent mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="2">
                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <span matBadge="4" matBadgeOverlap="false">Inboxes</span>
                        </ng-template>
                    </mat-tab> -->
                    <mat-tab label="Inboxes (1)">
                        <div class="container"></div>
                    </mat-tab>
                    <mat-tab label="Snippets (1)"></mat-tab>
                    <mat-tab label="Auto Responses (1)">
                        <div class="container">
                            <div class="row bb-2">
                                <div class="col-lg-3 col-md-12 col-sm-12 p-4 br-2">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-floating"
                                                    placeholder="Search...">
                                                <span class="search-icon"><i class="fa fa-search"
                                                        aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <span class="add-button"><mat-icon>add_circle_outline</mat-icon> Add</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 m-auto">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-box">
                                            <span class="response-heading">Auto Response Test</span>
                                            <button mat-icon-button aria-label="menu">
                                                <mat-icon class="more_icon">more_vert</mat-icon>
                                            </button>
                                        </div>
                                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                                            
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-12 col-sm-12 br-2 p-lg-0">
                                    <div class="left-heading">
                                        <span>
                                            <h3>Auto Response Test</h3>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 p-4 m-auto">
                                    <form>
                                        <div class="mb-4">
                                            <label for="response_name" class="form-label">Auto Response Name</label>
                                            <input type="text" class="form-control" id="response_name"
                                                placeholder="Auto Response Test">
                                        </div>
                                        <div class="mb-4">
                                            <label for="response_desc" class="form-label">Edit Auto Response
                                                Details</label>
                                            <editor apiKey="juxhi5c8kcf5mo6fbupbeo6r22g4nt95r4x1hmlw29foyy7h"
                                                id="response_desc" plugins="wordcount typography"></editor>
                                        </div>
                                        <div class="mb-4">
                                            <div class="form-check form-switch custom-control custom-switch">
                                                <label class="form-check-label custom-control-label"
                                                    for="flexSwitchCheckDefault">Set a Response Schedule</label>
                                                <input class="form-check-input custom-control-input" type="checkbox"
                                                    name="response_schedule" [(ngModel)]="isChecked" role="switch"
                                                    id="flexSwitchCheckDefault">
                                                <h3>{{ isChecked ? 'On' : 'Off' }}</h3>
                                            </div>
                                            <!-- <mat-slide-toggle color="primary" name="response_schedule" [(ngModel)]="isChecked">Set a Response Schedule <span class="schedule_status">{{ isChecked ? 'On' : 'Off' }}</span></mat-slide-toggle> -->
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Reviews (1)"></mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>