$text-primary-color: #192C49;
$text-secondary-color: #D63C00;
.demo-container {
    .page-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        mat-icon {
            color: $text-primary-color;
        }

        h1 {
            font: normal normal bold 28px Roboto;
            color: $text-primary-color;
            margin: 0;
            margin-left: 20px;
        }
    }

    .demo-row-two {
        box-shadow: 0px 8px 20px #8F95B229;
    }
}

button {
    color: #FAFAFA;
}

.input-group {
    align-items: center;

    input {
        opacity: 0.6;
        height: 44px;
    }
}

.search-icon {
    position: absolute;
    top: 11px;
    right: 16px;
    opacity: 0.4;
}

.add-button {
    color: $text-primary-color;
    letter-spacing: 0px;
    font: normal normal 500 15px Roboto;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
        margin-right: 5px;
        font-size: 22px;
        height: 22px;
    }
}

.br-2 {
    border-right: 0.1rem solid #E6E8F0;
}

.bb-2 {
    border-bottom: 0.1rem solid #E6E8F0;
}

.heading-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.response-heading {
    font: normal normal 450 21px Roboto;
    color: $text-primary-color;
    letter-spacing: 0px;
    padding-left: 10px;
}

.left-heading {
    background: #D63C0014 0% 0% no-repeat padding-box;
    padding: 18px;

    h3 {
        color: $text-secondary-color;
        font: normal normal 500 14px/19px Roboto;
        margin: 0;
        margin-left: 5%;
    }
}

.form-label {
    font: normal normal normal 16px Roboto;
    color: $text-primary-color;
}

input.form-control {
    opacity: 0.6;
    height: 44px;
}

.schedule_status {
    font-weight: 500;
}

.form-switch {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    align-items: center;

    .form-check-label {
        font: normal normal normal 19px Roboto;
        color: $text-primary-color;
    }

    .form-check-input {
        transform: scale(1.8);
        margin-left: 30px;
        --bs-form-check-bg: #C3C6D1;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='white'/%3e%3c/svg%3e");
        &:checked {
            background-color: $text-secondary-color;
            border-color: $text-secondary-color;
        }
    }

    h3 {
        margin-left: 40px;
        margin-bottom: 0;
        font: normal normal normal 19px Roboto;
        color: $text-primary-color;
    }
}

.more_icon {
    color: $text-primary-color;
}

mat-toolbar {
    background-color: $text-primary-color;
    padding: 0;
    height: 84px;

    mat-icon {
        color: #A0AEC4;
        line-height: 0.6;
        font-weight: 100;
    }
}

mat-sidenav {
    width: 84px;
    background-color: $text-primary-color;
    border-right: transparent;
}

mat-sidenav-container {
    width: 100%;
}

mat-slide-toggle {
    color: $text-primary-color;
}

.mat-mdc-tab-group {
    padding: 0;
}

::ng-deep .mat-mdc-tab.mdc-tab--active {
    .mdc-tab__text-label {
        color: $text-secondary-color !important;
    }

    .mdc-tab-indicator__content--underline {
        border-color: $text-secondary-color !important;
    }
}

::ng-deep .mat-mdc-tab-labels {
    .mdc-tab:nth-child(1) {
        padding-left: 28px;
        padding-right: 12px !important;
    }

    .mdc-tab:not(:nth-child(1)) {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

::ng-deep .mat-mdc-tab-labels {
    border-bottom: 0.1rem solid #E6E8F0;
}

::ng-deep .mat-mdc-tab-header {
    padding-top: 30px;
}


::ng-deep .mat-mdc-slide-toggle .mdc-label {
    font: normal normal normal 19px Roboto;
    color: $text-primary-color;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font: normal normal 500 14px Roboto;
    letter-spacing: 0px;
    color: $text-primary-color;
}

::ng-deep .mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
    opacity: 0;
}

::ng-deep .mat-ripple .mat-mdc-button-ripple {
    opacity: 0;
}

@media screen and (max-width: 991px) {
    .br-2 {
        border-right: none;
    }

    .bb-2 {
        border-bottom: none;
    }
}